:root{
    --primary-background: hsl(0, 0%, 15%);
    --hover: hsl(0, 0%, 65%);
    --accent: hsl(212, 75%, 40%);
}

body{
    display: flex;
    margin: 0px;
    height: 100vh;
    font-family: sans-serif;
}

h1{
    font-size: 3em;
}

#screen{
    display: flex;
    flex: 1;
}

#map{
    position: relative; /*This gives us the ability to stack other HTML element on top of the map*/
    display: flex;
    width: 100vw;

    justify-content: center;
}

#mapShade{
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(0, 0, 0);
}

#lowerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1000;
    bottom: 4vh;
    right: 2vw;
}

#mapMini{
    height: 15vh;
    width: 15vw;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 2vh;
}

/*This is the options/monitoring pannel*/
.optnsBox{
    max-height: 200px;
    width: 200px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*Elements inside the telemContainer follow these rules*/
.optnsBox h1 {
    text-align: center;
    font-size: 2em;
    margin: 5px;
    padding: 0px;
}
.optnsBox p {
    font-size: 1em;
    margin: 5px;
    padding: 0px;
}

#graphContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1000;
    top: 3vh;
    left: 2vw;
    height: 75vh;
    width: 20vw;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--primary-background);
}

#graphContainer h1{
    font-size: 2em;
}

#graph{
    width: auto;
}

#ctrlBar{
    position: absolute;
    z-index: 1000;
    top: 1vh;
    right: 1.5vw;
}

.ctrlBtn{
    font-size: 1em;
    font-weight: bold;
    height: 70px;
    width: 70px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#snapContainer{
    display: flex;
    position: absolute;
    z-index: 1000;
    bottom: 3vh;
    /*Keeps the container centered*/
    left: 50%;
    transform: translateX(-50%);
}

.snapBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8vw;
    height: 10vh;
    color: white;
    background-color: var(--primary-background);
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.snapBox h1{
    font-size: 1.25em;
    margin-top: 1vh;
}

.snapBox p{
    font-size: 0.75em;
    margin: 0px;
}