<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CROW Rebuild</title>
    <link rel="stylesheet" href="../static/home.css"><!--CSS-->

    <!--For Importing Leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

    <!--For Importing Leaflet JS-->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>

    <!--This GitHub pacakge adds onto Leaflet to let us rotate the images-->
    <script src="https://rawcdn.githack.com/bbecquet/Leaflet.RotatedMarker/master/leaflet.rotatedMarker.js"></script>

    <!--Graphing module-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <div id="screen">
        <!--MAP-->
        <div id="map">
            <!--Map Shade-->
            <div id="mapShade"></div>
        </div>

        <!--Options and Mini map-->
        <div id="lowerContainer">
            <div class="optnsBox" id="optnsBox">
                <h1>Monitor</h1>
            </div>

            <div style="cursor: pointer; height: 25vh;" id="mapMini" onclick="changeMap()"></div>
        
            <!--Buttons and Controls-->
            <div>
                <button class="ctrlBtn" id="ctrlBtn2" onclick="script2()">S2</button>
                <button class="ctrlBtn" id="ctrlBtn3">N/A</button>
                <button class="ctrlBtn" id="ctrlBtn4">N/A</button>
            </div>
        </div>

        <!--Graphs-->
        <div id="graphContainer">
            <!--Test Graph-->
            <canvas id="graph1" class="graph"></canvas>
        </div>


        <!--Telem Snapshot-->
        <div id="snapContainer1">
            <div class="snapBox" id="snap18">
                <h1><u>DUSKY18</u></h1>
                <p id="telem18">NA</p>
            </div>
            <div class="snapBox" id="snap21">
                <h1><u>DUSKY21</u></h1>
                <p id="telem21">NA</p>
            </div>
        </div>
        <div id="snapContainer2">
            <div class="snapBox" id="snap24">
                <h1><u>DUSKY24</u></h1>
                <p id="telem24">NA</p>
            </div>
            <div class="snapBox" id="snap27">
                <h1><u>DUSKY27</u></h1>
                <p id="telem27">NA</p>
            </div>
        </div>
    </div>

    <script src="../static/home.js"></script><!--JS-->
</body>
</html>