<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CROW Rebuild</title>
    <link rel="stylesheet" href="../static/home.css"><!--CSS-->

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!--For Importing Leaflet CSS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>

    <!--For Importing Leaflet JS-->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
    </script>

    <!--This GitHub pacakge adds onto Leaflet to let us rotate the images-->
    <script src="https://rawcdn.githack.com/bbecquet/Leaflet.RotatedMarker/master/leaflet.rotatedMarker.js"></script>

    <!--Graphing module-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <div id="screen">
        <!--Side bar-->
        <div id="sideBar">
            <!--Title-->
            <h1 id="sideBarTitle">Telemetry</h1>
            
            <!--Telem Snapshot-->
            <div class="snapContainer">
                <div class="snapBox" id="snap18">
                    <h1><u>DUSKY18</u></h1>
                    <p id="telem18">NA</p>
                </div>
                <div class="snapBox" id="snap21">
                    <h1><u>DUSKY21</u></h1>
                    <p id="telem21">NA</p>
                </div>
            </div>
            <div class="snapContainer">
                <div class="snapBox" id="snap24">
                    <h1><u>DUSKY24</u></h1>
                    <p id="telem24">NA</p>
                </div>
                <div class="snapBox" id="snap27">
                    <h1><u>DUSKY27</u></h1>
                    <p id="telem27">NA</p>
                </div>
            </div>

            <!--Altitude Graph-->
            <div class="graphBox">
                <canvas id="graph1" class="graph"></canvas>
            </div>
            
            <!--Air Speed Graph-->
            <div class="graphBox">
                <canvas id="graph2" class="graph"></canvas>
            </div>

            <!--Buttons-->
            <div id="ctrlContainer">
                <button class="ctrlBtn" id="ctrlBtn2" onclick="script2()">S2</button>
                <button class="ctrlBtn" id="ctrlBtn3">N/A</button>
                <button class="ctrlBtn" id="ctrlBtn4">N/A</button>
            </div>
        </div>

        <!--MAP-->
        <div id="map">
            <!--BCDC Logo-->
            <h1 id="bcdcHeader">Bush Combat Development Complex</h1>

            <!--Map Shade-->
            <div id="mapShade"></div>
        </div>

        <div id="mapMini" onclick="changeMap()"></div>
    </div>

    <script src="../static/home.js"></script><!--JS-->
</body>
</html>